.logo {
  image-rendering: optimizeSpeed;
  width: 36px;
  height: 36px;
  
  vertical-align: bottom;
}

.acitem {
  margin-left: 4px;
  margin-top: 8px;
}

.acitem:hover {
  background-color: #EEE;
}

code,
pre {
  background: #ccc;
  white-space: normal;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.section {
  background: grey;
}

.footer {
  background: grey;
  color: white;
}